
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="utf-8">
        <title>Demo web manga list</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <h1> MangaList</h1>

        <div>
            <form action="" method="GET">
                <label for="manga" >Search Manga</label>
                <input type="text" name="manga" autocomplete="on" placeholder="manga name">
            </form>
        </div>

    </body>
</html>
