
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="utf-8">
        <title>MangaList</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/accueil.css"/>


    </head>
    <body>
        <nav class="navbar">
            <div class="banner container-fluid">
                    <a class="navbar-brand" href="http://localhost:8080/">
                        <img src="/img/logo_MangaList_Black.png" alt="MangaList"/>
                    </a>
                    <form class="searchmanga navbar-form navbar-left form-inline" action="" method="GET">
                        <div class="form-group">
                            <input class="form-control" type="text" name="manga" autocomplete="on" placeholder="manga name">
                        </div>
                    </form>
                
            </div> <!-- container-fluid-->
        </nav> <!--navbar-->
    </body>
</html>
